@font-face {
    font-family: 'TT Lakes-Regular';
    src: url('TTLakes/TTLakes//TTLakes/TTLakes-Regular.eot');
    src: local('TT Lakes Regular'), local('/TTLakes/TTLakes-Regular'),
        url('TTLakes/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
        url('TTLakes/TTLakes-Regular.woff') format('woff'),
        url('TTLakes/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes-Bold';
    src: url('TTLakes/TTLakes-Bold.eot');
    src: local('TT Lakes Bold'), local('/TTLakes/TTLakes-Bold'),
        url('TTLakes/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
        url('TTLakes/TTLakes-Bold.woff') format('woff'),
        url('TTLakes/TTLakes-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

html {
    box-sizing: border-box;
}

a {
    color:  inherit;
    text-decoration: inherit;
}
*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-family: "TT Lakes-Regular", sans-serif;
    margin: 0px;
    padding: 0;
    background-color: #F8F8F8;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 100vh;
    box-shadow: 23px 0px 26px 10px rgba(34, 60, 80, 0.2);
}

.action-button {
    background-color: #FF3E79;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
}
.action-button:hover,
.nav-sidebar__list-item:hover,
.email__button:hover,
.phone__button:hover,
.language__button:hover {
    opacity: 0.7;
    cursor: pointer;
}

.icon::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    top: -10px;
    left: -10px;
}

.icon {
    position: relative;
}


.icon--close::before {
    background-image: url(image/close.svg);
}

.icon--bigsearch::before {
    background-image: url(image/bigsearch.svg);
}

.icon--searchIcon::before {
    background-image: url(image/search_icon.svg);
    left: -9px;
}

.icon--phone::before {
    background-image: url(image/phone.svg);
}

.icon--message::before {
    background-image: url(image/message.svg);
}

.icon--profile::before {
    background-image: url(image/profile.svg);
}

.header__column-logo .action-button {
    margin: 24px 16px;
}

.main__title-buttons .icon {
    display: block;
    background-color: #FF3E79;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
}

.main__title-buttons .icon::before {
    top: 10px;
    left: 10px;
}

.header-sidebar__content {
    display: flex;
    padding-top: 18px;
    padding-left: 24px;
    padding-right: 24px;
    align-items: center;
    gap: 16px;
    margin-bottom: 46px;
}

.header-sidebar__content .action-button:last-child {
    margin-left: auto;
}
.main {
    padding-left: 24px;
}
.nav-sidebar {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.nav-sidebar__list-item{
    position: relative;
}
.nav-sidebar__list-item--active {
    color: #7E7E82;
}
.nav-sidebar__list-item--active::after {
    content: '';
    position: absolute;
    top: -10px;
    left: -28px;
    width: 8px;
    height: 32px;
    background: #41F6D7;
    border-radius: 8px;
}

.footer-sidebar {
    margin-top: auto;
    padding-left: 24px;
}

.footer-sidebar__action-button {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
}

.email {
    font-family:  "TT Lakes-Regular";
    color: inherit;
    margin-bottom: 12px;
    font-weight: bold;
}

.phone {
    font-family:    "TT Lakes-Bold";
    margin-bottom: 40px;
    font-size: 24px;
}

.language {
    display: flex;
    gap: 7px;
    margin-bottom: 32px;
}

.language__button {
    font-family:    "TT Lakes-Regular";
    border: none;
    background:  transparent;
    font-size: 16px;
    padding: 0;
}
.language__button--active {
    color: #7E7E82;
}